In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('all_yelp_listing.csv',index_col=0)

In [3]:
data.head()

,Business_ID,Bus_Name,Review_count,Rating,Category_Alias,Category_Title,Lat,Long,Price,Postcode
0,82I-SlGojUpp7Rzotmv9lg,&Pasta,5,3.5,delis,Delis,51.512861,-0.132078,££,W1D 6AW
1,zGSyCNHv2RKiEHRgVimVJg,&feast,1,2.0,buffets,Buffets,51.474195,-0.244208,NaN,SW13 9HH
2,ghg0SAC1cuKkk46ji-M9Kw,'The Black Lab' Coffee House,43,4.0,coffee,Coffee & Tea,51.461090,-0.138673,££,SW4 7AB
3,6hfGUw2-80sTXNvhijOtEQ,+65 / Plus-Six-Five Supper Club,1,5.0,singaporean,Singaporean,51.532459,-0.106200,NaN,N1
4,08H7ypKfwASXosKQcTT6RA,1 Blossom Street,1,3.0,italian,Italian,51.521059,-0.077761,££,E1 6BX

In [4]:
print('Check no of rows and columns :',data.shape)

Check no of rows and columns : (10490, 10)

# missing values

In [5]:
(data.isnull().sum().div(data.count())).mul(100)

Business_ID         0.000000
Bus_Name            0.000000
Review_count        0.000000
Rating              0.000000
Category_Alias      0.009534
Category_Title      0.009534
Lat                 0.085870
Long                0.085870
Price              54.219347
Postcode            0.210164
dtype: float64

There are couple of columns that have missing values. Lets check them one by one.

In [6]:
#Category_Alias
data.columns

Index(['Business_ID ', 'Bus_Name ', 'Review_count ', 'Rating ',
       'Category_Alias ', 'Category_Title ', 'Lat ', 'Long ', 'Price ',
       'Postcode '],
      dtype='object')

## Prices

In [7]:
data['Price '].value_counts()

££      3938
£       1814
£££      852
££££     198
Name: Price , dtype: int64

In [8]:
data['Price '] = data['Price '].fillna(0)

In [9]:
data['Price '] = data['Price '].replace(to_replace=[0,'£','££','£££','££££'],value=[0,1,2,3,4])

In [10]:
data['Price '].value_counts()

2    3938
0    3688
1    1814
3     852
4     198
Name: Price , dtype: int64

## Category

In [11]:
null_data = data[data.isnull().any(axis=1)]
null_data

,Business_ID,Bus_Name,Review_count,Rating,Category_Alias,Category_Title,Lat,Long,Price,Postcode
106,p4SRF3oXUvkR8dr-xpTczg,Absurd Bird Soho,18,4.0,chickenshop,Chicken Shop,NaN,NaN,3,W1F
158,EqNsHMW6duwZ_Y1SnKaLiQ,Aji Ceviche,1,4.0,peruvian,Peruvian,51.481920,-0.113512,0,NaN
515,vpIvIylKN9e602WJYkcfkw,Bad Brownie,11,4.0,foodstands,Food Stands,51.508515,-0.125487,1,NaN
650,LkxrjNZuu9Ux9pQ-GmeEZw,Barretts of Wimpole Street,3,4.5,gastropubs,Gastropubs,NaN,NaN,0,W1G 0EH
674,HArO2xBW44TSF7ePKmDjUg,Batch & Co,4,4.5,cafes,Cafes,51.441797,-0.124796,0,NaN
787,ni7uPlNXTHmQG4xbBhYc6Q,Benito's Hat,5,3.5,fooddeliveryservices,Food Delivery Services,51.506420,-0.127210,1,NaN
803,OKBqjhxL_y2FBXNJYT5EPg,Benugo,4,3.5,coffee,Coffee & Tea,51.503406,-0.112098,0,NaN
866,_evkDMvlW9P2WzJBP6FeoQ,Big Dirty Burger,1,5.0,burgers,Burgers,NaN,NaN,0,NaN
877,I7EdVSWlYCtsTlnyYSYBMg,Bill Or Beak,4,5.0,foodstands,Food Stands,51.508035,-0.051464,0,NaN
1891,LJAEPpFRcU1AZgB3jVouEA,China Town,1,5.0,chinese,Chinese,NaN,NaN,0,NaN
1969,hitzbFHihQWKTg4RsvkCuA,Churros Garcia,2,4.5,desserts,Desserts,51.517160,-0.205970,0,NaN
2086,gBt0js9wA9ealU3VIJlIdw,Collins Room,1,5.0,british,British,51.501956,-0.156223,0,NaN
2341,PnVq1ktrN5c9xRebIAY5UA,De Casa Restaurant,2,3.5,italian,Italian,51.511166,-0.187307,0,NaN
2714,Q2hLgPzvmxbqwgPqVRY_Ew,El Rocio Tapas Bar & Restaurant,1,3.0,spanish,Spanish,NaN,NaN,0,NW6 1LJ
3296,YdP7p-xd8TQ59NMOCu00vg,Gigantic Creperie,1,4.0,foodstands,Food Stands,51.518071,-0.209547,0,NaN
3517,nTwiBl6GW26Z15kJa5KfPA,Grill'd,2,4.0,hotdogs,Fast Food,51.503971,-0.019870,4,NaN
3589,31pLslYVuiCR-Hr6M55-7A,Hainanese Buffet,2,1.0,NaN,NaN,51.572232,-0.198237,0,NW11 8EL
3925,jhqBKgl4xrseoFKcKuAFQg,Ices Garden,1,3.0,coffee,Coffee & Tea,51.511217,-0.174382,1,NaN
4004,5-mFxv4qUFjqbD1_pE0nVQ,Indian Takeaway Croydon,1,3.0,taxis,Taxis,51.507300,-0.127683,0,NaN
4020,PNbIxXWWa78p3-yOrGFHeQ,Inn the Park,2,3.0,british,British,51.504111,-0.131363,0,NaN
6272,utGXMdVDKMIXxLrPwxrHjg,Original Fry-Up Material,1,5.0,newamerican,American (New),NaN,NaN,0,NaN
8026,W8Hl6h2X5Z4X4_mrtbj49Q,Somboon Thai Food,1,5.0,thai,Thai,51.496347,-0.127716,0,NaN
8332,JAXhHJBUjd7oEeRzip6-tA,Sushi Heads,2,4.5,sushi,Sushi Bars,NaN,NaN,0,N15 4HL
8417,9D090M8lPYhHOg0-QmZ-pQ,Taka Restaurant and Bar,1,4.0,japanese,Japanese,51.506710,-0.146360,0,NaN
8755,lIeWB3_sGwGaiqaDjchMYA,The Brompton Café & Bookshop,2,5.0,cafes,Cafes,51.497901,-0.169779,0,NaN
8850,VCOoSJO491iF9yPKjMztwA,The Cuckoo N1,3,4.5,gastropubs,Gastropubs,NaN,NaN,0,N1 1BZ
9479,iA2Ew2tRsj_-Ln8pN91MsA,The Undercroft,2,2.0,breakfast_brunch,Breakfast & Brunch,51.509597,-0.126343,0,NaN
9873,kswA-zBsFPnMHKrhJg_png,Venesa Hopkinson,1,5.0,brazilian,Brazilian,NaN,NaN,0,NaN

In [12]:
data['Category_Title '] = data['Category_Title '].fillna('Chinese')
data['Category_Alias '] = data['Category_Alias '].fillna('chinese')

In [13]:
null_data = data[data.isnull().any(axis=1)]
null_data

,Business_ID,Bus_Name,Review_count,Rating,Category_Alias,Category_Title,Lat,Long,Price,Postcode
106,p4SRF3oXUvkR8dr-xpTczg,Absurd Bird Soho,18,4.0,chickenshop,Chicken Shop,NaN,NaN,3,W1F
158,EqNsHMW6duwZ_Y1SnKaLiQ,Aji Ceviche,1,4.0,peruvian,Peruvian,51.481920,-0.113512,0,NaN
515,vpIvIylKN9e602WJYkcfkw,Bad Brownie,11,4.0,foodstands,Food Stands,51.508515,-0.125487,1,NaN
650,LkxrjNZuu9Ux9pQ-GmeEZw,Barretts of Wimpole Street,3,4.5,gastropubs,Gastropubs,NaN,NaN,0,W1G 0EH
674,HArO2xBW44TSF7ePKmDjUg,Batch & Co,4,4.5,cafes,Cafes,51.441797,-0.124796,0,NaN
787,ni7uPlNXTHmQG4xbBhYc6Q,Benito's Hat,5,3.5,fooddeliveryservices,Food Delivery Services,51.506420,-0.127210,1,NaN
803,OKBqjhxL_y2FBXNJYT5EPg,Benugo,4,3.5,coffee,Coffee & Tea,51.503406,-0.112098,0,NaN
866,_evkDMvlW9P2WzJBP6FeoQ,Big Dirty Burger,1,5.0,burgers,Burgers,NaN,NaN,0,NaN
877,I7EdVSWlYCtsTlnyYSYBMg,Bill Or Beak,4,5.0,foodstands,Food Stands,51.508035,-0.051464,0,NaN
1891,LJAEPpFRcU1AZgB3jVouEA,China Town,1,5.0,chinese,Chinese,NaN,NaN,0,NaN
1969,hitzbFHihQWKTg4RsvkCuA,Churros Garcia,2,4.5,desserts,Desserts,51.517160,-0.205970,0,NaN
2086,gBt0js9wA9ealU3VIJlIdw,Collins Room,1,5.0,british,British,51.501956,-0.156223,0,NaN
2341,PnVq1ktrN5c9xRebIAY5UA,De Casa Restaurant,2,3.5,italian,Italian,51.511166,-0.187307,0,NaN
2714,Q2hLgPzvmxbqwgPqVRY_Ew,El Rocio Tapas Bar & Restaurant,1,3.0,spanish,Spanish,NaN,NaN,0,NW6 1LJ
3296,YdP7p-xd8TQ59NMOCu00vg,Gigantic Creperie,1,4.0,foodstands,Food Stands,51.518071,-0.209547,0,NaN
3517,nTwiBl6GW26Z15kJa5KfPA,Grill'd,2,4.0,hotdogs,Fast Food,51.503971,-0.019870,4,NaN
3925,jhqBKgl4xrseoFKcKuAFQg,Ices Garden,1,3.0,coffee,Coffee & Tea,51.511217,-0.174382,1,NaN
4004,5-mFxv4qUFjqbD1_pE0nVQ,Indian Takeaway Croydon,1,3.0,taxis,Taxis,51.507300,-0.127683,0,NaN
4020,PNbIxXWWa78p3-yOrGFHeQ,Inn the Park,2,3.0,british,British,51.504111,-0.131363,0,NaN
6272,utGXMdVDKMIXxLrPwxrHjg,Original Fry-Up Material,1,5.0,newamerican,American (New),NaN,NaN,0,NaN
8026,W8Hl6h2X5Z4X4_mrtbj49Q,Somboon Thai Food,1,5.0,thai,Thai,51.496347,-0.127716,0,NaN
8332,JAXhHJBUjd7oEeRzip6-tA,Sushi Heads,2,4.5,sushi,Sushi Bars,NaN,NaN,0,N15 4HL
8417,9D090M8lPYhHOg0-QmZ-pQ,Taka Restaurant and Bar,1,4.0,japanese,Japanese,51.506710,-0.146360,0,NaN
8755,lIeWB3_sGwGaiqaDjchMYA,The Brompton Café & Bookshop,2,5.0,cafes,Cafes,51.497901,-0.169779,0,NaN
8850,VCOoSJO491iF9yPKjMztwA,The Cuckoo N1,3,4.5,gastropubs,Gastropubs,NaN,NaN,0,N1 1BZ
9479,iA2Ew2tRsj_-Ln8pN91MsA,The Undercroft,2,2.0,breakfast_brunch,Breakfast & Brunch,51.509597,-0.126343,0,NaN
9873,kswA-zBsFPnMHKrhJg_png,Venesa Hopkinson,1,5.0,brazilian,Brazilian,NaN,NaN,0,NaN

## Lat and Long

There are 9 rows of lat/long missing data and I'm going to fillin the missing data with London's (51.5074° N, 0.1278° W)

In [14]:
data['Lat '] = data['Lat '].fillna('51.5074')
data['Long '] = data['Long '].fillna('-0.1278')

## Postcode

In [15]:
data['Postcode '] = data['Postcode '].fillna('W2 2SZ')

In [16]:
data.isnull().sum()

Business_ID        0
Bus_Name           0
Review_count       0
Rating             0
Category_Alias     0
Category_Title     0
Lat                0
Long               0
Price              0
Postcode           0
dtype: int64

In [17]:
#Check the data

In [18]:
data.head()

,Business_ID,Bus_Name,Review_count,Rating,Category_Alias,Category_Title,Lat,Long,Price,Postcode
0,82I-SlGojUpp7Rzotmv9lg,&Pasta,5,3.5,delis,Delis,51.5129,-0.132078,2,W1D 6AW
1,zGSyCNHv2RKiEHRgVimVJg,&feast,1,2.0,buffets,Buffets,51.4742,-0.244208,0,SW13 9HH
2,ghg0SAC1cuKkk46ji-M9Kw,'The Black Lab' Coffee House,43,4.0,coffee,Coffee & Tea,51.4611,-0.138673,2,SW4 7AB
3,6hfGUw2-80sTXNvhijOtEQ,+65 / Plus-Six-Five Supper Club,1,5.0,singaporean,Singaporean,51.5325,-0.1062,0,N1
4,08H7ypKfwASXosKQcTT6RA,1 Blossom Street,1,3.0,italian,Italian,51.5211,-0.0777606,2,E1 6BX

## dtypes

In [19]:
data.dtypes

Business_ID         object
Bus_Name            object
Review_count         int64
Rating             float64
Category_Alias      object
Category_Title      object
Lat                 object
Long                object
Price                int64
Postcode            object
dtype: object

In [20]:
#changing the price dtypes
data['Price '] = data['Price '].astype(str)

In [21]:
data.dtypes

Business_ID         object
Bus_Name            object
Review_count         int64
Rating             float64
Category_Alias      object
Category_Title      object
Lat                 object
Long                object
Price               object
Postcode            object
dtype: object

## export to csv

In [116]:
data.to_csv('data_clean.csv')